<% if !@errors.nil? %>
<p class="errors">
  <%= "#{@errors}" %>
</p>
<% end %>

<form action="<%= people_form_action(@person) %>" method="post" id="<%= people_form_id(@person) %>" class="<%= people_form_class(@person) %>" >
<input type="hidden" name="_method" value="<%= people_form_method(@person) %>" />

<div class="form-group">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <label for="first_name">First Name:</label>
      <input class="form-control" type="text" name="first_name" value="<%= @person.first_name %>" />
   </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
<label for="last_name">Last Name:</label>
<input class="form-control" type="text" name="last_name" value="<%= @person.last_name %>" />
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
<label for="birthday">Birthdate:</label>
<input class="form-control" type="date" name="birthday" value="<%= @person.birthday %>" />
    </div>
  </div>
</div>

<div>
  <div class="row">
    <div>
<input class="btn col-md-4 col-md-offset-4" type="submit" />
    </div>
  </div>
</div>

</form>

<a href="/" class="btn col-md-4 col-md-offset-4">Home</a>

<a href="/people" class="btn col-md-4 col-md-offset-4">Browse Entries</a>
